.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imageContainer{
  display: inline-block;
  position: relative;
  width: 60px !important;
  height: 60px;
  margin: 0 25px 0 25px;
}

.imageHidden {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.imageDefault {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity;
  width: 60px;
  height: 60px;
  opacity: 1;
}

.imageHidden:hover{
  opacity: 1;
  display: inline-block;
}

.imageDefault:hover {
  opacity: 0;
  display: none;
}

.countDownColumn{
  max-Width:169px; 
  min-Width:125px;
}

.countDownRowHeader{
  font-size:24px;
  font-family: "Timeless-Normal";
  background-color:#000000;
  max-width: 170px !important;
}

.countDownRowNumber{
  background:url('../public/images/thumbnail-image-alpha-small.png');
  background-Repeat:no-repeat ;
  background-Position:center; 
  line-height:165px;
  font-Size:80px;
  font-Family:"Timeless-Normal";
  max-width: 170px !important;
  background-Size:100% 100%
}

.streamButton{
  background-Color: #822DFF !important;
  border-Radius: 6px;
  height: 55px;
  max-Width: 250px; 
  width: 100%;
  font-Family: "Timeless-Normal";
  align-Items: center
}

.dropCard{
  border-Radius:0.5rem;
  box-Shadow:0.5rem 0.5rem 1rem #2B2452;
  font-Family:"Timeless-Normal";
  font-size:20px;
  height:100%;
}

.dropCardBackground{
  background-color:rgba(255, 255, 255, 0.85) !important;
  height: 100%
}

.dropCardHeader{
  background-Color:rgba(43, 36, 82, 0.75)
}

.navBarContainer{
  background-Color:#2B2452;
  color: white;
  font-Family:"Timeless-Normal";
  font-Size:20px
}

.navBarStyle{
  background-Color:#2B2452;
  color: white; 
  font-Family:"Timeless-Normal";
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1 !important;
  top: auto !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.75) !important;
  border-radius: 10px;
  box-Shadow:0.35rem 0.35rem 0.75rem #2B2452;
  filter:none !important;
}

.carousel-indicators [data-bs-target]{
  border-bottom: 0px !important;
}

.activeLink{
  background-image: linear-gradient(90deg,transparent,hsla(0,0%,83.5%,.2) 20%,hsla(0,0%,83.5%,.2) 80%,transparent);
  color:white;
}

.inactiveLink{
  color: #746D6D;
}

.currentDrops {
  background:url('../public/images/websitebg.png');
  background-position: center !important;
  background-Repeat: no-repeat; 
  background-Attachment: fixed !important;
  background-Size: cover !important;
}

.pastDrops {
  background:url('../public/images/wood-chopping.png');
  background-position: center !important;
  background-Repeat: no-repeat; 
  background-Attachment: fixed !important;
  background-Size: cover !important;
}

.futureDrops {
  background:url('../public/images/hunting.png');
  background-position: center !important;
  background-Repeat: no-repeat; 
  background-Attachment: fixed !important;
  background-Size: cover !important;
}

.faq{
  background:url('../public/images/camp-fire.png');
  background-position: center !important;
  background-Repeat: no-repeat; 
  background-Attachment: fixed !important;
  background-Size: cover !important;
}

.linkAccounts{
  background:url('../public/images/background_store.jpg');
  background-position: center;
  background-Repeat: no-repeat; 
  background-Attachment: fixed !important;
  background-Size: cover !important;
}

.question{
  background:url('../public/images/main-image-alpha-snow.png'); 
  background-Size:100% 100% !important; 
  vertical-Align:middle
}

.accordion-button{
  background: rgba(0, 0, 0, 0) !important;
}

.accordion-item{
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0px !important;
}

.accordion-button{
  color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;;
  border-color: rgba(0, 0, 0, 0) !important;
}

.accordion-button {
  border: 0px;
  border-color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  background-image: url('') !important;
  
}

.accordion-button::after{
  opacity: 0 !important;
}

.accordion-body {
  padding: 1rem 3rem !important;
}

@media only screen and (max-width: 575px) {
  .nav-item{
    margin:auto;
  }
}

@media only screen and (max-width: 450px) {
  .diamond.me-3{
    padding:0em !important;
    margin-right:0em !important;
  }
}

@media only screen and (max-width: 370px) {
  .diamond.ms-3{
    padding:0em !important;
    margin-left:0.5em !important;
  }
}